.background-item-container {
  display: flex;
  position: relative;
}
.background-item-blob1 {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  object-fit: cover;
}
.background-item-root-class-name {
  left: 99px;
  bottom: 273px;
  position: absolute;
}
.background-item-root-class-name1 {
  top: 1651px;
  right: -155px;
  position: absolute;
}
.background-item-root-class-name2 {
  top: 929px;
  left: -98px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name3 {
  top: 282px;
  right: -139px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name4 {
  top: -119px;
  left: -142px;
  width: 500px;
  position: absolute;
}
.background-item-root-class-name5 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name6 {
  top: 740px;
  right: -300px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name7 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name8 {
  left: 99px;
  bottom: 273px;
  position: absolute;
}
.background-item-root-class-name9 {
  top: 1651px;
  right: -155px;
  position: absolute;
}
.background-item-root-class-name10 {
  top: 929px;
  left: -98px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name11 {
  top: 282px;
  right: -139px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name12 {
  top: -119px;
  left: -142px;
  width: 500px;
  position: absolute;
}
.background-item-root-class-name13 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name14 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name15 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name16 {
  left: 99px;
  bottom: 273px;
  position: absolute;
}
.background-item-root-class-name17 {
  top: 1651px;
  right: -155px;
  position: absolute;
}
.background-item-root-class-name18 {
  top: 929px;
  left: -98px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name19 {
  top: 282px;
  right: -139px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name20 {
  top: -119px;
  left: -142px;
  width: 500px;
  position: absolute;
}
.background-item-root-class-name21 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name22 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name23 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
