<!DOCTYPE html>
<html lang="en">
  <head>
    <title>❤️HC Divorce predictor - Home</title>
    <meta property="og:title" content="HumanCentered2" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Open Sans;
        font-size: 1rem;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.625;
        color: var(--dl-color-secondary-400);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <style>
      html * {
          -webkit-font-smoothing: antialiased;
      }
      input::placeholder, textarea::placeholder {
         color: #d2d6da;
      }
    </style>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div>
      <link href="/static/css/home.css" rel="stylesheet" />

      <div class="home-container">

        <div data-role="Header" class="header-header">
          <nav class="header-nav">
            <div class="header-container">
              <div class="header-container1">
                <a href="/" class="header-navlink">
                  <span>❤️</span>
                  <span class="large">HC Divorce predictor</span>
                  <br class="large" />
                </a>
              </div>
              <div class="header-menu">
                <a href="/" class="header-navlink1 large">Home</a>
                <a href="/question" class="header-navlink2 large">Start now</a>
                <a href="/#contact" class="header-navlink3 large">
                  Contact
                </a>
              </div>
              <div class="header-container2">
                <div class="header-container3">
                  <div class="header-container4">
                    <button class="header-button button buttonSmall">
                      <span>
                          <a href="/question">
                            Start now
                          </a>
                      </span>
                    </button>
                  </div>
                </div>
                <div data-type="BurgerMenu" class="header-burger-menu">
                  <svg viewBox="0 0 1024 1024" class="header-icon">
                    <path
                      d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </nav>
          <div data-type="MobileMenu" class="header-mobile-menu">
            <div class="header-top">
              <a href="/" class="header-navlink4 large">
                Soft UI Design System
              </a>
              <div data-type="CloseMobileMenu" class="header-close-menu">
                <svg viewBox="0 0 1024 1024" class="header-icon2">
                  <path
                    d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="header-mid">
              <div class="header-menu1">
                <a href="/" class="header-navlink5 large">Home</a>
                <a href="profile.html" class="header-navlink6 large">Profile</a>
                <a href="coming-soon.html" class="header-navlink7 large">
                  Coming Soon
                </a>
              </div>
            </div>
            <div class="header-bot">
              <div class="primary-pink-button-container">
                <button class="primary-pink-button-button button buttonSmall">
                  <span>buy now</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="home-hero">
          <div class="home-container01">
            <div class="home-card">
              <h1 class="home-text">
                <span>Improve your marriage</span>
                <br />
              </h1>
<!--              <h1 class="home-text03 headingOne">Choose the best</h1>-->
              <span class="home-text04 lead">
                <span>
                  With almost 40% of mariages ending in a divorce you may be curious about your own chances of getting a divorce.
                  Take the test, find out your chances and start improving your mariage today!
                </span>
              </span>
              <div class="home-container02">
                <div class="home-container03">
                  <div class="primary-pink-button-container">
                    <button
                      class="primary-pink-button-button button buttonSmall"
                    >
                      <span><a href="/question">Start now!</a></span>
                    </button>
                  </div>
                </div>
                <div class="outline-gray-button-container">
                  <button onclick="document.getElementsByClassName('home-features')[0].scrollIntoView()" class="outline-gray-button-button button buttonSmall">
                    <span>Get more info</span>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1530204765653-b5b5ac7607d7?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwfHxkaXZvcmNlfGVufDB8fHx8MTY2NjM3Nzg5Mw&amp;ixlib=rb-4.0.3&amp;h=1500"
          class="home-image4"
        />


        <section style="margin-top:40px;text-align:center;" onclick="document.getElementsByClassName('home-features')[0].scrollIntoView()">
            <span>FAQ &#8226; Scroll down for more information</span>
            <img style="width:10%;padding-top:10%;margin-left:auto;margin-right:auto;"
                 src="https://content.invisioncic.com/p289038/monthly_2020_05/arrow-down.gif.8d9aec7b8f92f2a50a1a64fce1733f3a.gif"></img>
        </section>

        <section class="home-features">
          <div class="feature-card-container">
            <img
              alt="image"
              src="https://friconix.com/png/fi-cnsuxx-question-mark.png"
              class="feature-card-image"
            />
            <h5 class="feature-card-text headingThree"><span>About this test</span></h5>
            <span class="feature-card-text1">
              <span>With this test you can test whether your relationship can end in divorce.</span>
            </span>
          </div>
          <div class="feature-card-container">
            <img
              alt="image"
              src="https://friconix.com/png/fi-cnsuxx-question-mark.png"
              class="feature-card-image"
            />
            <h5 class="feature-card-text headingThree"><span>How does this test work?</span></h5>
            <span class="feature-card-text1">
              <span>This test uses machine learning.
              This means that a computer program has learned aspects important in divorces and will use this knowledge of previous questionnaires to
                determine how much your data matches the data of individuals who got divorced.
                More information about the data the program has learned can be found under the heading: Accuracy and precision.</span>
            </span>
          </div>
          <div class="feature-card-container">
            <img
              alt="image"
              src="https://friconix.com/png/fi-cnsuxx-question-mark.png"
              class="feature-card-image"
            />
            <h5 class="feature-card-text headingThree"><span>Dataset</span></h5>
            <span class="feature-card-text1">
              <span>This test is based on collection of questionnaires from divorced and non-divorced people.
                These questionnaires are. A computer program then analyzed the answers in order to gain useful insights
                and predict future divorces.

When you submit your questionnaire, the program will check whether it can recognize connections in your questionnaire
compared to the previously completed questionnaires. The extent to which your answers correspond to the
answers of previous persons determines the prediction.</span>
            </span>
          </div>
          <div class="feature-card-container">
            <img
              alt="image"
              src="https://friconix.com/png/fi-cnsuxx-question-mark.png"
              class="feature-card-image"
            />
            <h5 class="feature-card-text headingThree"><span>Accuracy and precision</span></h5>
            <span class="feature-card-text1">
              <span>The program uses its previously gained knowledge to make a prediction.
                Although the model currently has an accuracy of <b>{{round(accuracy*100,1)}}%</b>, we can not guarantee that the outcome will always be
corresponds to reality.

If the program shows you have a high chance of getting divorced, or in case of any doubt,
                it is wise to contact a relationship professional.</span>
            </span>
          </div>
          <div class="feature-card-container">
            <img
              alt="image"
              src="https://friconix.com/png/fi-cnsuxx-question-mark.png"
              class="feature-card-image"
            />
            <h5 class="feature-card-text headingThree"><span>Data privacy</span></h5>
            <span class="feature-card-text1">
              <span>
                Your questionnaire submissions are confidential and are not stored on the server.
                After you finished viewing your prediction results, this result will be destroyed.
                None of the data you enter will be collected and used to train future models.
              </span>
            </span>
          </div>
          <div class="feature-card-container" id="contact">
            <img
              alt="image"
              src="https://friconix.com/png/fi-cnsuxx-question-mark.png"
              class="feature-card-image"
            />
            <h5 class="feature-card-text headingThree"><span>Contact/feedback</span></h5>
            <span class="feature-card-text1">
              <span>For any further questions or feedback about user privacy data analysis and the app learning feel free to reach out via: <a
                      href="mailto:mjlpjacobusse@avans.nl" style="color:blue;text-decoration:underline;">email</a>.</span>
            </span>
          </div>
          <div style="align-self:center;padding-top:10%;">
            <button style="transform:scale(2);" class="header-button button buttonSmall">
                <span>
                    <a href="/question">Start now!</a>
                </span>
            </button>
          </div>
        </section>
        <div class="home-call-to-action"></div>
        <footer class="footer-footer footer-root-class-name">
          <div class="footer-container">
            <div class="footer-container1">
              <span class="footer-text">SOFT</span>
              <span>Human centered AI design 2022.</span>
            </div>
            <div class="footer-container2">
              <div class="footer-container3">
                <span class="footer-text02 large">Links</span>
                <span class="footer-text03 large">
                  <a href="/">Home</a>
                </span>
                <span class="footer-text04 large">
                  <a href="/question">Questionnaire</a>
                </span>
                <span class="footer-text05 large">
                  <a href="/#contact">Contact</a>
                </span>
              </div>
              <div class="footer-container4"></div>
              <div class="footer-container5"></div>
            </div>
          </div>
          <img
            alt="image"
            src="static/img/waves-white.svg"
            class="footer-image"
          />
          <img
            alt="image"
            src="static/img/wave.svg"
            class="footer-wave"
          />
        </footer>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
  </body>
</html>
