<!DOCTYPE html>
<html lang="en">
  <head>
    <title>❤️Questionnaire</title>
    <meta property="og:title" content="QuestionPage - HumanCentered2" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Open Sans;
        font-size: 1rem;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.625;
        color: var(--dl-color-secondary-400);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <style>
      html * {
          -webkit-font-smoothing: antialiased;
      }
      input::placeholder, textarea::placeholder {
         color: #d2d6da;
      }
    </style>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div>
      <link href="/static/css/question-page.css" rel="stylesheet" />

      <div class="question-page-container">
<!--        <div data-role="Header" class="header-header header-root-class-name">-->
<!--          <nav class="header-nav">-->
<!--            <div class="header-container">-->
<!--              <div class="header-container1">-->
<!--                <a href="/" class="header-navlink">-->
<!--                  <span>❤️</span>-->
<!--                  <span class="large">NoLoveBot</span>-->
<!--                  <br class="large" />-->
<!--                </a>-->
<!--                <span class="header-text3">-->
<!--                  {# <span>|  👤 {{session_id}}</span> #}-->
<!--                  <br />-->
<!--                </span>-->
<!--              </div>-->
<!--              <div class="header-menu">-->
<!--                <a href="/" class="header-navlink1 large">Home</a>-->
<!--                <a href="profile.html" class="header-navlink2 large">Profile</a>-->
<!--                <a href="coming-soon.html" class="header-navlink3 large">-->
<!--                  Coming Soon-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="header-container2">-->
<!--                <div class="header-container3">-->
<!--                  <div class="header-container4">-->
<!--                    <button onclick=questionsForm.submit() class="header-button button buttonSmall">-->
<!--                      <span>Submit answers</span>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div data-type="BurgerMenu" class="header-burger-menu">-->
<!--                  <svg viewBox="0 0 1024 1024" class="header-icon">-->
<!--                    <path-->
<!--                      d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"-->
<!--                    ></path>-->
<!--                  </svg>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </nav>-->
<!--          <div data-type="MobileMenu" class="header-mobile-menu">-->
<!--            <div class="header-top">-->
<!--              <a href="/" class="header-navlink4 large">-->
<!--                Soft UI Design System-->
<!--              </a>-->
<!--              <div data-type="CloseMobileMenu" class="header-close-menu">-->
<!--                <svg viewBox="0 0 1024 1024" class="header-icon2">-->
<!--                  <path-->
<!--                    d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"-->
<!--                  ></path>-->
<!--                </svg>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="header-mid">-->
<!--              <div class="header-menu1">-->
<!--                <a href="/" class="header-navlink5 large">Home</a>-->
<!--                <a href="profile.html" class="header-navlink6 large">Profile</a>-->
<!--                <a href="coming-soon.html" class="header-navlink7 large">-->
<!--                  Coming Soon-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="header-bot">-->
<!--              <div class="primary-pink-button-container">-->
<!--                <button class="primary-pink-button-button button buttonSmall">-->
<!--                  <span>buy now</span>-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div data-role="Header" class="header-header">
          <nav class="header-nav">
            <div class="header-container">
              <div class="header-container1">
                <a href="/" class="header-navlink">
                  <span>❤️</span>
                  <span class="large">HC Divorce predictor</span>
                  <br class="large" />
                </a>
              </div>
              <div class="header-menu">
                <a href="/" class="header-navlink1 large">Home</a>
                <a href="/question" class="header-navlink2 large">Start now</a>
                <a href="/#contact" class="header-navlink3 large">
                  Contact
                </a>
              </div>
              <div class="header-container2">
                <div class="header-container3">
                  <div class="header-container4">
                    <button onclick=questionsForm.submit() class="header-button button buttonSmall">
                      Submit answers
                    </button>
                  </div>
                </div>
                <div data-type="BurgerMenu" class="header-burger-menu">
                  <svg viewBox="0 0 1024 1024" class="header-icon">
                    <path
                      d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </nav>
          <div data-type="MobileMenu" class="header-mobile-menu">
            <div class="header-top">
              <a href="/" class="header-navlink4 large">
                Soft UI Design System
              </a>
              <div data-type="CloseMobileMenu" class="header-close-menu">
                <svg viewBox="0 0 1024 1024" class="header-icon2">
                  <path
                    d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="header-mid">
              <div class="header-menu1">
                <a href="/" class="header-navlink5 large">Home</a>
                <a href="profile.html" class="header-navlink6 large">Profile</a>
                <a href="coming-soon.html" class="header-navlink7 large">
                  Coming Soon
                </a>
              </div>
            </div>
            <div class="header-bot">
              <div class="primary-pink-button-container">
                <button class="primary-pink-button-button button buttonSmall">
                  <span>buy now</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="question-page-container1">
          <h1 class="question-page-text">
            <span>Divorce chances questionnaire</span>
          </h1>
          <div style="text-align:center;align-self:center;">Fill out {{len(all_questions)}} questions and find out how
            likeley you are to get a divorce</div>
          <div class="question-page-explaination-container">
            <div class="question-page-card-container">
              <div class="question-page-feature-card">
                <img src="https://www.svgrepo.com/show/6974/one.svg" style="width: 60px;">
                <h2 class="question-page-text05">
                  <span>Step 1</span>
                  <br />
                </h2>
                <span class="question-page-text08">
                  <span>Answer the {{len(all_questions)}} questions</span>
                </span>
              </div>
            </div>
            <div class="question-page-card-container1">
              <div class="question-page-container2">
                <div class="question-page-card-container2">
                  <div class="question-page-feature-card1">
                    <img src="https://www.svgrepo.com/show/12680/two.svg" style="width: 60px;">
                    <h2 class="question-page-text15">Step 2</h2>
                    <span class="question-page-text16">
                      <span>The computer program compares </br>
                        your answers with previous answers</br>
                        and calculates your chances of getting</br>
                        a divorce</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="question-page-card-container3">
              <div class="question-page-feature-card2">
                <img src="https://www.svgrepo.com/show/7916/three.svg" style="width: 60px;">
                <h2 class="question-page-text24">Step 3</h2>
                <span class="question-page-text25">
                  <span>View your results and a detailed</br>
                    breakdown on how much each answer</br>
                    contributed to your result</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
          <span class="question-page-text36">
            Bellow are {{len(all_questions)}} questions about your marriage.
            Drag the slider to select a number.
            The scale of the numbers is as follows: <b>Never: 0,Seldom: 1,Averagely: 2,Frequently: 3,Always:4</b>.
            After filling out all questions, press the "submit answers" button.
            The application will calculate your chances and redirect you to a page on which you can view this percentage
            and a detailed breakdown of which questions which influence on the final result, so you can work on these specific issues.
            The page also provides you, depending on the result of your questions some tips to improve your relationship.
            These tips are dynamically calculated and are divided as follows:
            <b>Lower then 33% percent is a low chance to get a divorce.
              Between 33% and 66% is a medium chance to get a divorce.
              Higer then 66% is a high chance to get a divorce. </b>
          <div class="question-page-questions-container">
            <form id="questionsForm" class="question-page-form" type="GET" action="/result" >
              {% for index,question in enumerate(all_questions) %}
                  <div class="question-card-question-card">
                    <img
                      alt="image"
                      src="https://source.unsplash.com/500x500/?divorce,separation,divorced,love&sig={{index}}"
                      class="question-card-image"
                    />
                    <div class="question-card-container">
                      <div class="question-card-question-number-text">
                        <h1 class="question-card-text">
                          <span>Question {{index+1}}</span>
                          <br />
                        </h1>
                      </div>
                      <span class="question-card-question-text">
                        <span>{{question}}</span>
                      </span>
                      <div class="question-card-slider-container" id="question-{{index}}-input">
                        <input
                          type="range"
                          id="slider"
                          max="4"
                          min="0"
                          value="2"
                          name="question-{{index}}"
                          placeholder="placeholder"
                          class="question-card-textinput input"
                        />
                        <div class="question-value-number">Loading...</div>
                      </div>
                      <div class="question-card-container1">
                        <svg viewBox="0 0 1024 1024" class="question-card-icon">
                          <path
                            d="M470 384v-86h84v86h-84zM512 854q140 0 241-101t101-241-101-241-241-101-241 101-101 241 101 241 241 101zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125zM470 726v-256h84v256h-84z"
                          ></path>
                        </svg>
                        <span>
                            <div class="tooltip">
                              What do these numbers mean?
                              <div class="right">
                                  <div class="text-content">
                                      <h3>Scale</h3>
                                      <ul>
                                          <div>The scale of the numbers is as follows:</div>
                                          <br/>
                                          <li>Never: 0</li>
                                          <li>Seldom: 1</li>
                                          <li>Averagely: 2</li>
                                          <li>Frequently: 3</li>
                                          <li>Always:4</li>
                                      </ul>
                                  </div>
                                  <i></i>
                              </div>
                            </div>
                        </span>
                      </div>
                      <span><span>Question {{index+1}}/{{len(all_questions)}}</span></span>
                    </div>
                  </div>
              {% endfor %}


              <div class="question-page-container4">
                <div class="question-page-container5">
                  <button type="submit" class="question-page-button button buttonSmall">
                    <span>Submit answers</span>
                    <svg viewBox="0 0 1024 1024" class="question-page-icon6">
                      <path
                        d="M426 256l256 256-256 256-60-60 196-196-196-196z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="question-page-background-blobs">
          <div
            class="background-item-container background-item-root-class-name"
          >
<!--            <img-->
<!--              alt="image"-->
<!--              src="static/img/magicpattern-blob-1666351099233-500w.png"-->
<!--              class="background-item-blob1"-->
<!--            />-->
            
          </div>
          <div
            class="background-item-container background-item-root-class-name1"
          >
            <img
              alt="image"
              src="static/img/magicpattern-blob-1666351980403-500w.png"
              class="background-item-blob1"
            />
          </div>
          <div
            class="background-item-container background-item-root-class-name2"
          >
            <img
              alt="image"
              src="static/img/magicpattern-blob-1666351057967-200h.png"
              class="background-item-blob1"
            />
          </div>
          <div
            class="background-item-container background-item-root-class-name3"
          >
            <img
              alt="image"
              src="static/img/magicpattern-blob-1666351087217-200h.png"
              class="background-item-blob1"
            />
          </div>
          <div
            class="background-item-container background-item-root-class-name4"
          >
            <img
              alt="image"
              src="static/img/magicpattern-blob-1666351639708-200h.png"
              class="background-item-blob1"
            />
          </div>
          <div
            class="background-item-container background-item-root-class-name5"
          >
            <img
              alt="image"
              src="static/img/magicpattern-blob-1666351381394-200h.png"
              class="background-item-blob1"
            />
          </div>
          <div
            class="background-item-container background-item-root-class-name5"
          >
            <img
              alt="image"
              src="static/img/magicpattern-blob-1666351381394-200h.png"
              class="background-item-blob1"
            />
          </div>
          <div
            class="background-item-container background-item-root-class-name5"
          >
            <img
              alt="image"
              src="static/img/magicpattern-blob-1666388165988.svg"
              class="background-item-blob1"
            />
          </div>
        </div>
        <footer class="footer-footer footer-root-class-name">
          <div class="footer-container">
            <div class="footer-container1">
              <span class="footer-text">SOFT</span>
              <span>Human centered AI design 2022.</span>
            </div>
            <div class="footer-container2">
              <div class="footer-container3">
                <span class="footer-text02 large">Links</span>
                <span class="footer-text03 large">
                  <a href="/">Home</a>
                </span>
                <span class="footer-text04 large">
                  <a href="/question">Questionnaire</a>
                </span>
                <span class="footer-text05 large">
                  <a href="/#contact">Contact</a>
                </span>
              </div>
              <div class="footer-container4"></div>
              <div class="footer-container5"></div>
            </div>
          </div>
          <img
            alt="image"
            src="static/img/waves-white.svg"
            class="footer-image"
          />
          <img
            alt="image"
            src="static/img/wave.svg"
            class="footer-wave"
          />
        </footer>
      </div>
    </div>

    <script>
      let setSliderText = (slider, sliderText) => sliderText.textContent = slider.value;
      [... document.getElementsByClassName("question-card-slider-container")].forEach(e => {
        let slider = e.getElementsByClassName("question-card-textinput input")[0]
        let sliderText = e.getElementsByClassName("question-value-number")[0]
        slider.addEventListener("mousemove", (e)=> sliderText.textContent = slider.value )
        setSliderText(slider,sliderText)




      })
    </script>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
  </body>
</html>
