.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background:  linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.header-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 2000;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 500;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-container {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}
.header-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.header-navlink {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-text3 {
  align-self: flex-start;
}
.header-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.header-navlink1 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink1:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink2 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink2:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink3 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink3:hover {
  color: var(--dl-color-gray-500);
}
.header-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-container4 {
  display: flex;
  position: relative;
}
.header-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background:  linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.header-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.header-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink4 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
.header-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-icon2 {
  width: 24px;
  height: 24px;
}
.header-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-navlink5 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink5:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink6 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink6:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink7 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink7:hover {
  color: var(--dl-color-gray-500);
}
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}



@media(max-width: 991px) {
  .header-nav {
    max-width: 960px;
  }
  .header-menu {
    display: none;
  }
}
@media(max-width: 767px) {
  .header-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .header-container3 {
    display: none;
  }
}

.question-card-question-card {
  flex: 0 0 auto;
  width: 100%;
  height: 294px;
  display: flex;
  z-index: 90;
  position: relative;
  max-width: 1320px;
  margin-top: 18px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-secondary-400);
  border-width: 0px;
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: 8px;
}
.question-card-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius75);
}
.question-card-container {
  flex: 2;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.question-card-question-number-text {
  display: flex;
  position: relative;
}
.question-card-text {
  color: var(--dl-color-secondary-700);
  font-size: 1.5rem;
  font-style: normal;
  margin-bottom: var(--dl-space-space-halfunit);
}
.question-card-question-text {
  color: #18191b;
}
.question-card-slider-container {
  width: 100%;
  height: 52px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.question-card-textinput {
  width: 100%;
  height: 36px;
  align-self: center;
}
.question-card-container1 {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.question-card-icon {
  fill: #67748e;
  width: 24px;
  height: 24px;
  margin-right: 13px;
}
@media(max-width: 991px) {
  .question-card-container {
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .question-card-question-card {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .question-card-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .question-card-text {
    margin-top: var(--dl-space-space-unit);
  }
}

.background-item-container {
  display: flex;
  position: relative;
}
.background-item-blob1 {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  object-fit: cover;
}
.background-item-root-class-name {
  left: 99px;
  bottom: 273px;
  position: absolute;
}
.background-item-root-class-name1 {
  top: 1651px;
  right: -155px;
  position: absolute;
}
.background-item-root-class-name2 {
  top: 929px;
  left: -98px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name3 {
  top: 282px;
  right: -139px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name4 {
  top: -119px;
  left: -142px;
  width: 500px;
  position: absolute;
}
.background-item-root-class-name5 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name6 {
  top: 740px;
  right: -300px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name7 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name8 {
  left: 99px;
  bottom: 273px;
  position: absolute;
}
.background-item-root-class-name9 {
  top: 1651px;
  right: -155px;
  position: absolute;
}
.background-item-root-class-name10 {
  top: 929px;
  left: -98px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name11 {
  top: 282px;
  right: -139px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name12 {
  top: -119px;
  left: -142px;
  width: 500px;
  position: absolute;
}
.background-item-root-class-name13 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name14 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name15 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name16 {
  left: 99px;
  bottom: 273px;
  position: absolute;
}
.background-item-root-class-name17 {
  top: 1651px;
  right: -155px;
  position: absolute;
}
.background-item-root-class-name18 {
  top: 929px;
  left: -98px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name19 {
  top: 282px;
  right: -139px;
  width: 400px;
  position: absolute;
}
.background-item-root-class-name20 {
  top: -119px;
  left: -142px;
  width: 500px;
  position: absolute;
}
.background-item-root-class-name21 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name22 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}
.background-item-root-class-name23 {
  top: 1583px;
  left: -179px;
  width: 600px;
  position: absolute;
}

.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #0099ff;
}
.footer-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container2 {
  display: flex;
  justify-content: space-between;
}
.footer-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text02 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text03 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text03:hover {
  color: var(--dl-color-gray-white);
}
.footer-text04 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text04:hover {
  color: var(--dl-color-gray-white);
}
.footer-text05 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text05:hover {
  color: var(--dl-color-gray-white);
}
.footer-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-text06 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text07 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text07:hover {
  color: var(--dl-color-gray-white);
}
.footer-text08 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text08:hover {
  color: var(--dl-color-gray-white);
}
.footer-text09 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text09:hover {
  color: var(--dl-color-gray-white);
}
.footer-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-text10 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text11 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text11:hover {
  color: var(--dl-color-gray-white);
}
.footer-text12 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text12:hover {
  color: var(--dl-color-gray-white);
}
.footer-text13 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text13:hover {
  color: var(--dl-color-gray-white);
}
.footer-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;`
  object-fit: cover;
}
.footer-wave {
  z-index: 1;
  top: -199px;
  width: 100%;
  height: 244px;
  position: absolute;
  -transform: scaleX(-1);
  object-fit: cover;
  -webkit-transform: scaleX(-1);
}
.footer-root-class-name {
  margin-top: 30px;
}

.footer-root-class-name2 {
  margin-top: 30px;
}
.footer-root-class-name3 {
  margin-top: 30px;
}
@media(max-width: 991px) {
  .footer-container {
    padding: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-container1 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container4 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .footer-container5 {
    margin-left: var(--dl-space-space-doubleunit);
  }
}

.question-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.question-page-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 169px;
  align-items: flex-start;
  flex-direction: column;
}
.question-page-text {
  z-index: 1;
  align-self: center;
  text-align: center;
}
.question-page-explaination-container {
  width: 100%;
  height: 321px;
  display: flex;
  z-index: 100;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.question-page-card-container {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.question-page-feature-card {
  width: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  flex-direction: column;
}
.question-page-icon {
  fill: var(--dl-color-gray-500);
  width: 48px;
  height: 48px;
}
.question-page-text05 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.question-page-text08 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.question-page-text14 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.question-page-card-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  flex-direction: column;
}
.question-page-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.question-page-card-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.question-page-feature-card1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.question-page-icon2 {
  fill: var(--dl-color-gray-500);
  width: 48px;
  height: 48px;
}
.question-page-text15 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.question-page-text16 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.question-page-text23 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.question-page-card-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.question-page-feature-card2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
}
.question-page-icon4 {
  fill: var(--dl-color-gray-500);
  width: 48px;
  height: 48px;
}
.question-page-text24 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.question-page-text25 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.question-page-text35 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.question-page-text36 {
  align-self: stretch;
  margin-left: 100px;
  margin-right: 100px;
}
.question-page-questions-container {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.question-page-form {
  width: auto;
  height: auto;
  position: relative;
  align-self: center;
}
.question-page-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.question-page-container4 {
  flex: 0 0 auto;
  width: 1133px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.question-page-container5 {
  display: flex;
  position: relative;
}
.question-page-button {
  z-index:100;
  color: var(--dl-color-gray-white);
  display: flex;
  outline: none;
  background: linear-gradient(310deg,#2152ff,#21d4fd);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  text-align: center;
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.question-page-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.question-page-icon6 {
  fill: #D9D9D9;
  color: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
}
.question-page-background-blobs {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

                .tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip h3 {margin:12px 0;}

.tooltip .right {
    min-width:200px;
    max-width:400px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:0;
    color:#EEEEEE;
    background-color:#444444;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .right {
    visibility:visible; opacity:1;
}

.tooltip .right img {
    width:400px;
    border-radius:8px 8px 0 0;
}
.tooltip .text-content {
    padding:10px 20px;
    z-index: 12000;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}
.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#444444;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

